@page "/contact"

<DemoLayout WrapperClass="inner">
    
    <div class="images_holder"><img src="images/pic_08.png" alt=""></div>
    <div class="box_contact">
        <span class="email">john_markowitz@gmail.com</span>
        <span class="phone">+45 532 823 385</span>
        <span class="skype">J_mwitz</span>
    </div>
    <div class="clear"></div>

</DemoLayout>